body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f4f4f9;
    color: #0c0b0b;
    direction: rtl;
    text-align:right;
}

.container {
    padding: 40px;
    max-width:900px;
    margin: 40px auto;
    background: rgb(178, 181, 185);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    h1, h2{
        color:#007bff;
    }
    p {
        line-height: 1.8;
        margin-bottom: 15px;
        text-align: justify; 
    }

    .navbar {
        background-color: #007bff;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .logo {
        float: right;
        padding: 10px 20px;
        color:white;
        font-size: 24px;
        font-weight: bold;
        line-height: 25px;
        background-color: #0056b3;
    }

    .navbar a {
        float: right;
        display:block;
        color: center;
        padding: none;
        transition: background-color 0.3s;
    }

    .navbar a:hover, .navbar .active {
        background-color: #0056b3;
    }

    .form-group {
        margin-bottom: 20px;
        text-align: right;
    }

    .form-gruop label {
        display:block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #555;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-gruop textarea {
        resize: vertical;
        min-height: 100px;
    }
    
    .btn {
        display: block;
        width: 100%;
        padding: 12px;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s;
        text-align:center;
        color:white;
    }

    .btn-primary {
        background-color: #28a745;
    }

    .btn-secondary {
        background-color:#6c757d;
    }

    .btn-primary:hover {
        background-color: #218838;
    }

   @media (max-width:768px) {
        .container {
            margin: 20px;
            padding: 20px;
        }
        .navbar a, .logo{
            float: none;
            width: 100%;
            text-align: center;
            padding: 10px 15px;
        }
        .logo {
            margin-bottom: 5px;
        }
    }
}